# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/deps/win_flex_bison-latest
/n1ql-js/.vs/n1ql-js/v15
/n1ql-js/Debug
/n1ql-js/n1ql-js/Debug
